<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Aljazera English News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container"><a href="{{url_for('home')}}" class="navbar-brand text-uppercase font-weight-bold">Stock Prediction</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="{{url_for('home')}}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                        <li class="nav-item"><a href="{{url_for('news')}}" class="nav-link text-uppercase font-weight-bold">News</a></li>
                        <li class="nav-item"><a href="{{url_for('search')}}" class="nav-link text-uppercase font-weight-bold">Search</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Markets</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="jumbotron" style="color:black">

    <h1 style="color:black">

     News 

    </h1>

</div>


<div class="container">

    {% for new, des, i in context %}

    <img src="{{i}}" alt="">
    <h3>News: </h3> {{new}}
    <h4>Description: </h4> {{des}}

    {% endfor %}


</div>


</body>
</html>